@import "colors.css";

* {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: @base00;
    color: white;
}

window#waybar.hidden {
    opacity: 0.2;
}

#clock {
    min-width: 140px;
    color: white;
    padding: 0px 10px;
    border-radius: 4px;
}

tooltip {
    background-color: @base00;
    border: 1px solid @base0D;
}

tooltip label {
    color: white;
}

#cpu,
#memory,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding: 0px 10px;
    color: @base05;
}

#pulseaudio.muted {
    background-color: @base0D;
    color: @base01;
}

#tray {
    color: @base0D;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    background-color: @base0D;
    color: @base01;
}

#idle_inhibitor.activated {
    background-color: @base0D; 
    color: @base01;
}

#workspaces button {
    padding: 5px 8px;
    color: white;
}

#workspaces button:hover {
    background-color: @base0D;
    color: white;
}

#workspaces button.focused {
    background-color: @base0E;
}

#workspaces button.active {
    border-bottom: 3px solid @base0D;
}

#workspaces button.urgent {
    background-color: @base0E;
}

label:focus {
    background-color: @base01;
}
